@import '../../variables.scss';

div {
    nav {
        z-index: 4;
        position: fixed;
        width: 100%;
        top: 0;
        background: rgba(1,1,1,0.5);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2vh 15vw;

        p.logo {
            color: $base-orange;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0;
            font-family: "Satisfy", sans-serif;
        }
    
        div.navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0 3vw;
    
            span > a {
                color: $base-white;
                &.active {
                    font-weight: bold;
                    color: $base-orange;
                }
                &:hover {
                    // font-weight: bold;
                    color: $base-orange;
                }
            }
        }
    }
    
    button#goToTop {
        position: fixed;
        bottom: 5vh;
        right: 5vw;
        opacity: 0.65;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        // display: none;
        padding: 0;
    }
}

